Repository kralsito/Proyecto-Agiles, pull requests merged in 2023-11, with the labels that each got.

#75 Fix: Se arregló el error en la recarga de la foto en editar-publicaciones
  back/proyecto_perros/pagina_perros/views.py
  front/front_perros/src/app/mis-publicaciones/mis-publicaciones.component.html
  front/front_perros/src/app/mis-publicaciones/mis-publicaciones.component.ts
Labels: fix

#76 Feature: se añadió la sección Favoritos
  back/proyecto_perros/pagina_perros/admin.py
  back/proyecto_perros/pagina_perros/migrations/0014_favorito.py
  back/proyecto_perros/pagina_perros/migrations/0015_publicacion_favorito_delete_favorito.py
  back/proyecto_perros/pagina_perros/migrations/0016_remove_publicacion_favorito_favorito.py
  back/proyecto_perros/pagina_perros/models.py
  back/proyecto_perros/pagina_perros/serializers.py
  back/proyecto_perros/pagina_perros/urls.py
  back/proyecto_perros/pagina_perros/views.py
  front/front_perros/src/app/app-routing.module.ts
  front/front_perros/src/app/app.module.ts
  front/front_perros/src/app/mis-favoritos/mis-favoritos.component.css
  front/front_perros/src/app/mis-favoritos/mis-favoritos.component.html
  front/front_perros/src/app/mis-favoritos/mis-favoritos.component.spec.ts
  front/front_perros/src/app/mis-favoritos/mis-favoritos.component.ts
  front/front_perros/src/app/mis-favoritos/mis-favoritos.service.spec.ts
  front/front_perros/src/app/mis-favoritos/mis-favoritos.service.ts
  front/front_perros/src/app/nav-bar/nav-bar.component.html
Labels: feature

#77 Feature: Añadir a favoritos
  back/proyecto_perros/media/perros/logo-transparente-sin-sombra.png
  back/proyecto_perros/pagina_perros/urls.py
  back/proyecto_perros/pagina_perros/views.py
  front/front_perros/src/app/publicacion/publicacion.component.html
  front/front_perros/src/app/publicacion/publicacion.component.ts
  front/front_perros/src/app/publicacion/publicacion.service.ts
Labels: Back, Front, feature

#80 Feature: Editar Perfil
  back/proyecto_perros/media/perfil/6490d9fd4b943.jpg
  back/proyecto_perros/media/perfil/6490d9fd4b943_ck3uckW.jpg
  back/proyecto_perros/media/perfil/6490d9fd4b943_rwxk8wx.jpg
  back/proyecto_perros/media/perfil/belgrano_bandera.jpg
  back/proyecto_perros/media/perfil/daa6b25f3b041c1ff6f6f9283e6ee58c.jpg
  back/proyecto_perros/media/perfil/daa6b25f3b041c1ff6f6f9283e6ee58c_p0e6PfU.jpg
  back/proyecto_perros/media/perfil/descarga.jpeg
  back/proyecto_perros/media/perfil/descarga_dK0drOg.jpeg
  back/proyecto_perros/media/perfil/descarga_equY9m0.jpeg
  back/proyecto_perros/media/perros/6490d9fd4b943.jpg
  back/proyecto_perros/media/perros/EcmSwT1WoAE3Bw_.jfif
  back/proyecto_perros/media/perros/descarga_liT3MMf.jpeg
  back/proyecto_perros/media/perros/desktop-1920x1080.jpg
  back/proyecto_perros/media/perros/favicon.ico
  back/proyecto_perros/media/perros/favicon_HyufDau.ico
  back/proyecto_perros/media/perros/file_20150312112805.jpg
  back/proyecto_perros/pagina_perros/migrations/0014_perfil_biografia_perfil_fotoperfil.py
  back/proyecto_perros/pagina_perros/migrations/0023_merge_20231111_0008.py
  back/proyecto_perros/pagina_perros/models.py
  back/proyecto_perros/pagina_perros/serializers.py
  back/proyecto_perros/pagina_perros/urls.py
  back/proyecto_perros/pagina_perros/views.py
  back/proyecto_perros/proyecto_perros/settings.py
  front/front_perros/angular.json
  front/front_perros/package.json
  front/front_perros/src/app/app.module.ts
  front/front_perros/src/app/perfil.model.ts
  front/front_perros/src/app/perfil/formperfil.service.ts
  front/front_perros/src/app/perfil/perfil.component.css
  front/front_perros/src/app/perfil/perfil.component.html
  front/front_perros/src/app/perfil/perfil.component.ts
  front/front_perros/src/app/perfil/service-retrieve/retrieve.service.ts
  front/front_perros/src/styles.css
Labels: Back, Front, feature
